#include <iostream>

using namespace std;

int main()
{
cout<< "Welcome to Lawrence Aggregation Service" endl;
cout<< "Please select from the following options:" endl;
cout<< "Purchase mileage vouchers from:" endl;

  return 0;
}

